/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,GRAD,XOPQ,YTLC@8..144,300,-12,88,500&display=swap';

$font-family: "Roboto Flex", sans-serif;
$font-family-serif: "Roboto Flex", sans-serif;

// colors
$teal: #93b7be;
$turquoise: #124559;
$dark-green: #858E79;
$gray: #999999;

// font size
$my-font-size: 25px;


// Base document colors
$body-bg: white;
$body-color: black;
$link-color: $turquoise;

$light: #525252;


// Navigation element colors
$footer-bg: $teal; //footer bar
$navbar-bg: $teal; //navigation bar
$sidebar-bg: white;//sidebar
$navbar-fg: white; // navbar foreground elements
$navbar-hl: $turquoise; // highlight color when hovering over navbar links

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: white;

// Bootstrap inputs
$input-bg: #fff; //this would change the filter, and all the research boxes to this color

// Change colors for the next buttons/pagination
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: $teal;
    border-color: $teal;
}


/*-- scss:rules --*/


// change logo
.navbar-logo {
  max-height: 50px;
}

.navbar ul.dropdown-menu li {
  list-style-type: none;
  //border-bottom: solid 1px #eeeeee; //add a border to the bottom of my navigation bar
  // text-transform: uppercase; //make the font of my menus all caps
  letter-spacing: 0.08em;
  padding: 2px 0;
}
.navbar ul.dropdown-menu li a {
  position: relative;
  color: $gray; // change the color of the font in my menus
  font-size: 12px;// change the color of the font size in my menus
  display: block;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  left: 0;
}
.navbar ul.dropdown-menu li a:hover {
  color: $turquoise;
  text-decoration: none;
  background: $teal; // changes the color of what we hover on the menus
  left: 1px; //I can move the content 2px to give the ilusion of movement
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.quarto-title-banner {
  padding: 0.625rem 0rem; // this is allowig me to change the padding of my tittle banners (top-bottom; left-right)
}

.quarto-title-meta {
  padding: 0.625rem 0rem; // this is allowig me to change the padding of my tittle banners (top-bottom; left-right)
}


