/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

// Base document colors
$body-bg: white;
$body-color: #000000;
$link-color: #124559;

$light: #525252;

// Navigation element colors
$footer-bg: #93b7be;
$navbar-bg: white;
$sidebar-bg: #bee1e6;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: white;

// Bootstrap inputs
$input-bg: white;
